<!DOCTYPE html>
<html lang="en-GB" data-theme="dark">
<head>
    <title>Two-way Binding Web Component</title>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {# https://tailwindcss.com/docs/container #}
    <div class="container mx-auto max-w-xl py-16">
        <div data-signals="{reversed: ''}" class="flex flex-col space-y-8">
            <div class="space-y-2">
                <label>Name</label>
                <input data-bind-name class="input input-bordered w-full">
            </div>
            <div class="space-y-2">
                <label>Reversed</label>
                <div class="alert h-14">
                    <span data-text="reversed.value"></span>
                </div>
            </div>
            <reverse-component
                data-attributes-name="name.value"
                data-on-reverse="reversed.value = evt.detail.value"
            ></reverse-component>
        </div>
    </div>
</body>
</html>

{# The code below would normally be placed in its own JavaScript file. #}
{% js %}
class ReverseComponent extends HTMLElement {
    static get observedAttributes() {
        return ['name'];
    }

    attributeChangedCallback(name, oldValue, newValue) {
        const value = newValue ? newValue.split('').reverse().join('') : '';
        this.dispatchEvent(new CustomEvent('reverse', {detail: {value}}));
    }
}

customElements.define('reverse-component', ReverseComponent);
{% endjs %}
